* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    background-color: #0084FD;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    vertical-align: middle;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header a {
    color: #fff;
}

header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

header li a {
    font-size: 14px;
}

.white-bg a {
    color: #000;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 50px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    margin-top: 125px;
}

section {
    margin: 60px 0;
}

section:last-child {
    margin: 60px 0 0 0;
}

section:nth-child(even) {
    background-color: #9792E4;
    padding: 30px 0;
}

.container.flex {
    display: flex;
    gap: 10px;
}

.container.flex.padding {
    padding: 0 60px;
}

.list-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.card {
    width: calc(100% / 3 - 15px);
    padding: 30px 20px;
    padding-bottom: 0;
    background-color: #B5DDFF;
    border-radius: 20px;
    color: #5A6E7F;
}



.card.big .text-content {
    width: 50%;
}

.card.big .img-content {
    width: 45%;
    padding-top: 30px;
}

.card.big .img-content img {
    vertical-align: bottom; 
    width: 80%;
}

.card h3 {
    color: #128cfd;
}

.card p {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding: 20px 0 40px 0;
}

.button-apple {
    color: #fff;
    background-color: #0084FD;
    padding: 12px 50px;
    border-radius: 20px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
}

.card.big {
    width: calc((100% / 3) * 2 - 6px);
    display: flex;
    justify-content: space-between;
}

.section-left, .section-right {
    width: 50%;
    /* DEBUG */
    background: blue;
    height: 100px;
    border: 2px solid black;
}

.second-section .container {
    padding: 0 60px;
}

.users {
    margin-top: 20px;
    /* DEBUG */
    height: 80px;
    background-color: red;
    border: 2px solid black;
}

.content-section {
    /* DEBUG */
    background-color: red;
    height: 80px;
}

footer {
    background-color: #333333;
    /* DEBUG */
    height: 100px;
}